<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff List</title>
</head>
<body>
    <h2>{{school_name}} Directory</h2>
    <ul>
        {% for student in student_list %}
        <li><a href="/students/{{ student.school_id }}/">{{ student.school_id }}</a>: {{ student.name }}, {{ student.role }}</li>
        {% endfor %}
    </ul>
</body>
</html>