<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Detail</title>
</head>
<body>
    <h2>{{school_name}} Directory</h2>
    <ul>
        {% if student %}
        <ul>
            <li>Name: {{ student.name }}</li>
            <li>Age: {{ student.age }}</li>
            <li>Role: {{ student.role }}</li>
            <li>School ID: {{ student.school_id }}</li>
            <li>Password: {{ student.password }}</li>
        </ul>
        {% else %}
        <p>That student ID does not exist.</p>
        {% endif %}
    </ul>
</body>
</html>